<div *ngIf="countries.length <= 0; else table">
  No countries
</div>
<ng-template #table>
  <table>
    <tr>
      <th>
        #
      </th>
      <th>
        Flag
      </th>
      <th>
        Name
      </th>
      <th>
        Capital
      </th>
      <th>
        Name
      </th>
      <th>
        Population
      </th>
      <th>
        Show more
      </th>
    </tr>
    <tr *ngFor="let country of countries; let index = index">
      <td>
        {{index}}
      </td>
      <td>
        {{country.flag}}
      </td>
      <td>
        <img [src]="country.flags.svg" [alt]="country.name.official" />
      </td>
      <td>
        {{country.name.official}}
      </td>
      <td>
        {{country.capital}}
      </td>
      <td>
        {{country.population |number}}
      </td>
      <td>
        <a [routerLink]="['/countries/by', country?.cca3]">Show more</a>
      </td>
    </tr>
  </table>
  <ul>
  </ul>
</ng-template>